/*
 Theme Name:   Organic Life Child
 Theme URI:    http://demo.themeum.com/wordpress/organic-life
 Description:  Organic Life Child Theme
 Author:       Themeum
 Author URI:   http://themeum.com/
 Template:     organic-life
 Version:      2.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  themeum
*/

@import url("../organic-life/style.css");

.jumbotron {
   margin-top: -30px; 
   padding-top: 28px; 
   padding-bottom: 28px; 
   background-color: #764C29;
}

.text-white {
   color: #fff;
}
